/* Global Settings */
*{
  margin: 0;
  padding: 0;
}

/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* Header Style */
#top-header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.2rem;
  margin-top: 0.4rem;
}

.siteName a{
  font-size: 2.5rem;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

#tools a{
  font-size: 1rem;
  text-decoration: none;
  color: #1f2937;
}

/* Body Styles */
body {
    font-family: 'Rubik', sans-serif;
    color: #1f2937;
    min-height: 100vh;
}

/* Nav Styles */
nav {
  background-color: #004080;
  margin-bottom: 0.5rem;
}
nav ul {
  list-style-type: none;
  display: flex;
}
nav ul li {
  flex: 1 1;
}
nav a {
  color: white;
  text-decoration: none;
  text-align: center;
  display: block;
  padding: 0.5rem;
}
nav a:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

/* Hero Style */
.hero{
  position: relative;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.hero-text{
  position: absolute;
  top: 0.5rem;
  background-color: rgba(255,255,255,0.9);
}
.hero-text #own-button{
  padding: 1rem;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: #000;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 215, 0, 1);
  text-decoration: none;
  font-weight: bolder;
}
.hero img{
  width: 100%;
  max-width: 30rem;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* Reviews Style */
.reviews{
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.reviews h2{
  margin-bottom: 0.5rem;
}
.list-reviews{
  list-style-type: disc;
  padding-left: 1.5rem;
}
.list-reviews li{
  margin-bottom: 0.8rem;
}

/* Upgrade Grid */

.upgrade-grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.4rem;
}

.upgrade-item{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.upgrade-card{
  background-color: rgba(255, 215, 0, 0.9);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border: solid 0.05rem #000;
  text-align: center;

  width: 10rem;
  height: 8rem;

  display: flex;
  align-items: center;
  justify-content: center;
}
.upgrade-card img{
  max-width: 70%;
  max-height: 70%;
  object-fit: contain;
}
.upgrade-link{
  margin-top: 0.6rem;
  font-weight: bold;
}

/* Footer Style */
footer{
  margin-top: 1.5rem;
}

/* Desktop Styles */
@media (min-width: 40rem) {

  #wrapper{
    max-width: 60rem;
    margin: 1rem auto;
    border-radius: 4px;
    border: solid 0.30rem rgba(255, 215, 0, 0.9);
    background-color: white;
    padding: 1.5rem;
  }
  body{
    background-image: url(/images/site/small_check.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  .hero{
    display: flex;
  }
  .hero-text{
    padding: 2rem;
  }
  .hero img{
    max-width: 40rem;
    align-items: center;
  }
  .container{
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    gap: 2rem;
    align-items: start;
  }
  .reviews{
    grid-column: 2;
    grid-row: 1;
  }
  .reviews,
  .upgrades{
    margin-top: 0;
  }

  .container h2{
    margin-bottom: 1rem;
  }
  .list-reviews{
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
  }
  .upgrade-grid{
    padding: 0;
    margin: 0;
  }
}